/* 导入自定义字体 */
@font-face {
  font-family: "myfont";
  src: url("./kuaikanshijieti.otf");
}

.hello {
  color: black;
  /* 将图片添加到div上 */
  background: url("./agz.png");
  font-family: "myfont";
  font-size: 3em;
}
